/* ===== Original author: Tony Camaiani http://tony.camaiani.it ========================== */
/* ===== Tweaks: valencia.rb ============================================================= */

body {  font-size: 1em; line-height: 1.4; }
html { overflow-y: scroll; }
html, body, button, input, select, textarea { color: #53585e; }

::-moz-selection { background: #1ea0ce; color: #fff; text-shadow: none; }
::selection { background: #1ea0ce; color: #fff; text-shadow: none; }

a { color: #1ea0ce; text-decoration: none; }
a:visited { color: #1ea0ce; }
a:hover { color: #339ACC; text-decoration: underline;}


hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
img { vertical-align: middle; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

.center { margin-left: auto; margin-right: auto; }

/* ===== general styles ========================================================= */
body {
  font-family: 'Rambla', sans-serif;
  background: #f5f5f5;
}

header {
  background: #b31000;
  -moz-box-shadow: 0px 2px 10px rgba( 161, 161, 161, 0.5);
  -webkit-box-shadow: 0px 2px 10px rgba( 161, 161, 161, 0.5);
  box-shadow: 0px 2px 10px rgba( 161, 161, 161, 0.5);
  padding-bottom: 5px;
}

#main, footer, div.hgroup {
  padding: 10px 20px;
}

header h1 {
  width: 300px;
  font-size: 55px;
  line-height: 55px;
  color: #fff;
  margin: 10px auto 5px;
  background: url(../img/logo_small.png) top center no-repeat;
  padding: 80px 0 0;
}

header h1 strong {
  color: #222;
}

header h1 a, header h1 a:hover, header h1 a:visited { color: #fff; text-decoration: none; }

  header h1 span{
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-transform: none;
    font-weight: 400;
    margin: 0 0 0 130px;
    display: block;
    text-align: right;
  }

  header h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    margin: 30px 0 30px;
  }

  header h2 img {
    padding: 15px;
  }

  nav {
    text-align: center;

  }

  nav ul {
    margin: 0 0 10px 0;
    padding: 0;

  }

  nav li {
    display: inline-block;
    margin: 0 5px;
  }

  nav li a,
  nav li a:visited {
    color: #fff;
    background-color: rgba(213, 42, 42, 1.0);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  nav li a:hover {
    color: #fff;
    background-color: rgba(132, 0, 0,0.5);
    text-decoration: none;
  }

  nav li a.selected {
    color: #fff;
    background-color: rgba(132, 0, 0,0.5);
  }

#main {
  margin-top: 25px;
}

.eyelet { font-size: 18px; width: 300px; margin-left: auto; margin-right: auto;}
.eyelet b { display: block; }
.eyelet cite { font-size: 16px; display: block; }

.scream { font-size: 26px;}
.scream span { display: block;}

.past { font-size: 24px;}

.paragraph { font-size: 18px; margin-left: auto; margin-right: auto; }

#main section.content {
  width: 242px;
  padding: 10px 15px;
  border: 2px solid #fff;
  margin: 0 auto 30px;
  -moz-box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
  -webkit-box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
  box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#main section.content h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
}

#main section.content p {
  font-size: 16px;
}

#main section.full_box {
  width: 272px;
  font-size: 15px;
  display: block;
  overflow: hidden;
  padding: 10px 0px;
  margin: 0 auto 30px;

}

#main section.full_box.home {
  margin: 0 auto;
}

#main section.full_box h3 {
  letter-spacing: 1px;
  margin: 5px 0;
}

#main section.full_box.sponsor a {
  margin: 0px auto;
  float: none;
}

footer {
  padding: 20px 25px 20px 25px;
  font-size: 16px;
}

a.orange_button,
a.orange_button:visited {
    font-size: 18px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    padding: 5px 12px;
    letter-spacing: 1px;
    display: inline-block;
    letter-spacing: 1px;
    background-color: rgba(213, 42, 42, 1.0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

a.orange_button:hover {
  color: #fff;
  background-color: rgba(132, 0, 0,0.5);
  text-decoration: none;
}

.small_caption { width: 200px; margin: 0 auto; line-height: 14px; margin-top: 5px;}

  footer section {
    width: 272px;
    margin: 0 auto 20px;
    text-align: center;
  }

    footer section h3 {
      font-size: 22px;
      margin: 0 0 3px 0;
    }

    footer section p{
      margin: 0;
    }

    footer section.middle a{
      font-size: 20px;
      margin: 10px;
      display: inline-block;
    }

  a.github {
    background: url(../img/GitHub-Mark-64px.png) no-repeat top left;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  a.twitter {
    background: url(../img/twitter-bird-light-bgs-big.png) no-repeat top left;
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  a.iukanet {
    background: url(../img/iukanet_logo_small.png) no-repeat top left;
    width: 212px;
    height: 177px;
    margin: 0 auto;
  }

  a.geekshubs {
    background: url(../img/geekshubs_logo_small.png) no-repeat top left;
    width: 112px;
    height: 146px;
    margin: 0 auto;
    margin-top: 12px;
  }

  a.sponsor_image {
    margin: 20px auto 30px;
  }

/* ===== media with different viewport classes ============================================ */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* ===== non-semantic helper classes ============================================ */
.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 150%; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.block {display: block;}

.left {float: left;}
.right {float: right;}
.centered  { text-align: center; }
.righted  { text-align: right; }

.margin_top_0 { margin-top: 0;}
.margin_top_20 { margin-top: 20px;}
.margin_top_40 { margin-top: 40px;}
.margin_bottom_0 { margin-bottom: 0;}
.margin_bottom_10 { margin-bottom: 10px;}
.margin_bottom_20 { margin-bottom: 20px;}

.max_width { max-width: 100%; }

.orange { color: #b31000;}

.undefined {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  }

/* ===== media queries ========================================================== */

/* Used to alter styles for screens at least 768px wide. */
@media only screen and (min-width: 768px) {

  header h1 {
    text-align: center;
    font-size: 72px;
    line-height: 72px;
    background: url(../img/logo.png) top center no-repeat;
    padding: 90px 0 0;
    width: 460px;
    margin: 10px auto 5px;
  }

    header h1 span{
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      text-transform: none;
      font-weight: 400;
      margin: 0 68px 0 0;
      display: block;
    }

      header h2 {
        font-size: 28px;
        line-height: 30px;
      }

      nav li a,
      nav li a:visited {
        font-size: 22px;
        line-height: 28px;
        padding: 5px 15px;
      }

      #main {
        width: 714px;
        margin-left: auto;
        margin-right: auto;
      }

    .eyelet { font-size: 20px; width: 740px; margin-left: auto; margin-right: auto; margin-bottom: 0;}
    .eyelet b, .eyelet cite { display: inline; }

    .scream { font-size: 34px; }
    .scream span { display: inline; }
    .scream span.block { display: block; }

    .past { font-size: 32px;}

    .paragraph { font-size: 18px; width: 740px;  margin-left: auto; margin-right: auto; }

    #main section.content {
      padding: 15px 20px;
      border: 2px solid #fff;
      -moz-box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
      -webkit-box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
      box-shadow: 1px 1px 12px rgba( 161, 161, 161, 0.5);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    #main section.content.single {
      width: 620px;
      margin: 0 auto 30px;
    }

    #main section.content.double {
      float: left;
      width: 272px;
      margin: 0 20px 30px;
    }

    #main section.content h2 {
      font-size: 24px;
      font-weight: 400;
      margin-top: 0;
    }

    #main section.content p {
      font-size: 16px;
    }

    #main section.full_box {
      width: 620px;
      font-size: 18px;
      padding: 10px 15px;
    }

    .small_caption { width: 250px; }

    footer {
      padding: 20px 25px 20px 25px;
      font-size: 16px;
      width: 714px;
      margin-left: auto;
      margin-right: auto;
    }

      footer section {
        width: 238px;
        margin: 0 0 20px;
        float: left;
      }

        footer section h3 {
          font-size: 22px;
          margin: 0 0 3px 0;
        }

        footer section p{
          margin: 0;
        }

        footer section.first {
          text-align: left;
        }

        footer section.middle {
          text-align: center;
        }

        footer section.middle a{
          font-size: 20px;
          margin: 10px;
          display: inline-block;
        }

        footer section.last {
          text-align: right;
        }

        footer section.last h3 {
          margin: 0 4px 5px 0;
        }

    a.iukanet {
      background: url(../img/iukanet_logo_medium.png) no-repeat top left;
      width: 128px;
      height: 107px;
      margin-top: -7px;
      float: right;
    }

    a.geekshubs {
      background: url(../img/geekshubs_logo_medium.png) no-repeat top left;
      width: 74px;
      height: 96px;
      margin-top: 0px;
      float: right;
    }

    a.sponsor_image {
      margin: 15px 5px 0 0;
      float: left;
    }

} /* min-width: 768px */

/* Used to alter styles for screens at least 1024px wide. */
@media only screen and (min-width: 1024px) {

  #main, footer, div.hgroup {
    width: 960px;
    margin: 0 auto;
    padding: 10px 20px;
  }

    header h1 {
      margin: 10px 0 5px;
      float: left;
      padding: 90px 0 0;
    }

    header h2 {
      width: 325px;
      font-size: 30px;
      line-height: 34px;
      margin: 15px 0 52px;
      float: right;
    }

      header h2 img {
        float: right;
      }

    nav {
      margin: 0;
    }

    nav ul {
      float: right;
    }

      nav li a,
      nav li a:visited {
        font-size: 22px;
        line-height: 28px;
        padding: 5px 15px;
      }

  #main {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .eyelet { font-size: 24px; width: 980px; margin-left: 0; margin-right: 0; }

  .scream { font-size: 36px;}
  .past { font-size: 34px;}

  .paragraph { font-size: 20px; width: 860px;  margin-left: auto; margin-right: auto; }

    #main section.content {
      padding: 20px 25px;
      border: 2px solid #fff;
    }

    #main section.content.single {
      width: 620px;
      margin: 0 auto 30px;
    }

    #main section.content.double {
      width: 360px;
      margin: 0 35px 30px;
    }

      #main section.content.first_box { margin-left: 50px; }
      #main section.content.second_box { margin-right: 50px; }

      #main section.content h2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
      }

      #main section.content p {
        font-size: 18px;
        line-height: 24px;
      }

    .small_caption { width: 200px; }


  footer {
    padding: 20px 25px 20px 25px;
    font-size: 16px;
  }

    footer section {
      width: 320px;
      margin: 0;
    }

      footer section h3 {
        margin: 0 0 5px 0;
      }

      footer section p{
        margin: 0;
      }

    footer section.first p{
      width: 260px;
      margin: 0 20px 0 0;
    }

    footer section.last {
      float: right;
      text-align: right;
      width: 280px;
    }

    footer section.last h3 {
      margin: 0 10px 5px 0;
    }

  a.iukanet {
    background: url(../img/iukanet_logo_big.png) no-repeat top left;
    width: 148px;
    height: 123px;
    margin-top: -9px;
    float: right;
  }

  a.geekshubs {
    background: url(../img/geekshubs_logo_big.png) no-repeat top left;
    width: 78px;
    height: 101px;
    margin-top: 0px;
    float: right;
  }

  a.sponsor_image {
    margin: 25px 5px 0 0;
    float: left;
  }

  a.peertransfer {
    background: url(../img/peertransfer_logo.png) no-repeat top left;
    width: 265px;
    height: 36px;
    margin-top: 0px;
    float: right;
  }

} /* min-width: 1024px */

/* ===== print styles ========================================================== */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
