---
layout: default
title: "Valencia.rb - Grupo local de usuarios de Ruby en Valencia"
---

    <div id="main" role="main" class="clearfix">

      <p class="eyelet margin_top_0">
        Valencia.rb es el grupo local de usuarios de Ruby en Valencia. Nos encontramos habitualmente al menos una vez al mes
        alrededor de un pequeño picoteo y unas cervezas.
      </p>

      {% assign post = site.posts.first %}

      {% assign date = post.date %}
      <h2 class="centered orange scream">Próximo meetup{% unless post.undefined %}:<time datetime="{{post.date | date_to_xmlschema }}"><span> {% include localized_datetime.liquid %}</span></time>{% endunless %}</h2>
      <div class="clearfix">
        <section class="content single {% if post.undefined %}undefined{% endif %}">
          <h2>{{ post.title }}</h2>
          {{ post.content }}
        </section>
      </div>

      {% if post.sponsor %}

      <section class="full_box centered sponsor home">
        <h3>Patrocinador</h3>

        <a class="ir block {{ post.sponsor['name'] }}" target="_blank"
          href="{{ post.sponsor['url'] }}" title="{{ post.sponsor['text'] }}">{{ post.sponsor['text'] }}</a>
      </section>

      {% endif %}

      {% if post.reservation_url %}

      <p class="centered margin_bottom_20 clearfix block">
        <a class="orange_button" href="{{ post.reservation_url }}" target="_blank">Asistiré a Valencia.rb</a>
        <small class="block small_caption">Por cuestiones de aforo nos gustaría saber el numero de asistentes.</small>
      </p>

      {% endif %}

      <h2 class="centered orange scream margin_bottom_10">Localización</h2>

      <section class="full_box home">
        <iframe width="620" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  style="border:0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.9311046181383!2d-0.369841685089758!3d39.47088512054124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048bd95e4a439%3A0x5202eb6c9f36e8d3!2sPeertransfer+S.L.!5e0!3m2!1sen!2ses!4v1449701712563"></iframe><br />
      </section>

    </div>
