---
layout: default
title: "valencia.rb - Grupo local de rubistas en Valencia"
---

    <div id="main" role="main" class="clearfix">

      <p class="eyelet margin_top_0">
        Valencia.rb es el grupo local de usuarios de Ruby en Valencia. Nos encontramos habitualmente al menos una vez al mes
        en el espacio de
        <a target="_blank"  href="http://bit.ly/1nzkegP"  title="GeeksHubs / Comunidad Geek y Emprendedores Techies">
          GeeksHubs</a>,
        en Avda. Cataluña 11 (Valencia),
        alrededor de un pequeño picoteo gentileza de
        <a target="_blank" href="http://cervezaturia.es" title="Cerveza Turia">
          Cerveza Turia</a>.
      </p>

      {% assign post = site.posts.first %}

      {% assign date = post.date %}
      <h2 class="centered orange scream">Próximo meetup: <span>{% include localized_datetime.liquid %}</span></h2>

      <div class="clearfix">
        <section class="content single {% if post.undefined %}undefined{% endif %}">
          <h2>{{ post.title }}</h2>
          {{ post.content }}
        </section>
      </div>

      {% if post.sponsor %}

      <section class="full_box centered sponsor home">
        <h3>Patrocinador</h3>

        <a class="ir block {{ post.sponsor['name'] }}" target="_blank"
          href="{{ post.sponsor['url'] }}" title="{{ post.sponsor['text'] }}">{{ post.sponsor['text'] }}</a>
      </section>

      {% endif %}

      {% if post.reservation_url %}

      <p class="centered margin_bottom_20 clearfix block">
        <a class="orange_button" href="{{ post.reservation_url }}" target="_blank">Asistiré a Valencia.rb</a>
        <small class="block small_caption">Por cuestiones de aforo nos gustaría saber el numero de asistentes.</small>
      </p>

      {% endif %}

      <h2 class="centered orange scream margin_bottom_10">Localización</h2>

      <section class="full_box home">
        <iframe width="620" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.677714321122!2d-0.350388!3d39.47660899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60489a157790db%3A0x58cb3a00be8d2f5!2sCalle+Vinalop%C3%B3%2C+2%2C+46021+Valencia%2C+Spain!5e0!3m2!1sen!2s!4v1407461995016"></iframe><br />
      </section>

    </div>
